*
{
margin:0;
padding:0;
box-sizing:border-box;
}
html,body
{
height:100%;
width:100%;
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #785cf2;
}
.search-div{
    width: 380px;
    height: 50px;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-div input{
    font-size: 20px;
    padding: 0 2vw;
    border: none;
    outline: none;
    height: 100%;
    width: 80%;
    transition: all 2s ease-in-out;
    background-color: #fff;
}
.search-div i{
    height: 100%;
    width: 60px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: 800;
    transition: 2s all linear;
    background-color: #fff;
}